<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta name="HandheldFriendly" content="True"/>
<title>テンプレート構文</title>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="https://tobiju.github.io/share/prismjs/prism-prism.css" />
<link rel="stylesheet" href="https://tobiju.github.io/share/prismjs/prism-linenumbers.css" />
<link rel="stylesheet" href="/style.css" />
</head>
<body data-spy="scroll" data-target="#sideNav" data-offset="50" class="bbt-theme-journal">
<div class="page-wrapper">
    <header>
    
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="box-header container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#js-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                            <a class="navbar-brand" href="/">
                    <img alt="logo" src="/qiq.png" title="Home">
                </a>
                    </div>

        <div class="box-header-inner">
            <form class="form-search navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text"
                           placeholder="Search"
                           class="js-search-input form-control"
                           data-roothref="/">

                    <div class="js-search-results"></div>
                </div>
            </form>

            <div class="language-link">
                <ul>
                    <li>
                        <a href="https://qiqphp.com/2.x/syntax.html">En</a>
                    </li>
                    <li>
                        <a>Ja</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            
    
    <ul class="nav navbar-nav">
                        <li>
    <a href="/2.x/">2.x</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/2.x/intro.html">入門</a>

    </li>
                        <li>
    <a href="/2.x/syntax.html">テンプレート構文</a>

    </li>
                        <li>
    <a href="/2.x/data.html">テンプレートデータ</a>

    </li>
                        <li>
    <a href="/2.x/catalog.html">テンプレートファイルカタログ</a>

    </li>
                        <li>
    <a href="/2.x/partials.html">パーシャル</a>

    </li>
                        <li>
    <a href="/2.x/layouts.html">レイアウト</a>

    </li>
                        <li>
    <a href="/2.x/blocks.html">ブロック</a>

    </li>
                        <li>
    <a href="/2.x/inheritance.html">継承</a>

    </li>
                        <li>
    <a href="/2.x/helpers/">ヘルパー</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/2.x/helpers/overview.html">概要</a>

    </li>
                        <li>
    <a href="/2.x/helpers/general.html">一般的なヘルパー</a>

    </li>
                        <li>
    <a href="/2.x/helpers/forms.html">フォームヘルパー</a>

    </li>
                        <li>
    <a href="/2.x/helpers/custom.html">カスタムヘルパー</a>

    </li>
            </ul>

    </li>
                        <li>
    <a href="/2.x/compiler.html">コンパイラ</a>

    </li>
                        <li>
    <a href="/2.x/static-analysis.html">静的解析</a>

    </li>
                        <li>
    <a href="/2.x/upgrading.html">アップグレード</a>

    </li>
            </ul>

    </li>
                        <li>
    <a href="/1.x/">1.x Doc</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/1.x/intro.html">入門</a>

    </li>
                        <li>
    <a href="/1.x/syntax.html">テンプレートの構文</a>

    </li>
                        <li>
    <a href="/1.x/data.html">テンプレートデータ</a>

    </li>
                        <li>
    <a href="/1.x/locator.html">テンプレートロケーター</a>

    </li>
                        <li>
    <a href="/1.x/partials.html">パーシャル</a>

    </li>
                        <li>
    <a href="/1.x/layouts.html">レイアウト</a>

    </li>
                        <li>
    <a href="/1.x/sections.html">セクション</a>

    </li>
                        <li>
    <a href="/1.x/helpers/">ヘルパー</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/1.x/helpers/overview.html">概要</a>

    </li>
                        <li>
    <a href="/1.x/helpers/general.html">一般的なヘルパー</a>

    </li>
                        <li>
    <a href="/1.x/helpers/forms.html">フォームヘルパー</a>

    </li>
                        <li>
    <a href="/1.x/helpers/custom.html">カスタムヘルパー</a>

    </li>
            </ul>

    </li>
                        <li>
    <a href="/1.x/compiler.html">コンパイラ</a>

    </li>
            </ul>

    </li>
            </ul>

        </div>
    </div>
</nav>
</header>
<div class="container">
    <ol class="breadcrumb">
                        <li><a href="/">Qiq</a></li>
                                <li><a href="/2.x/">2.x</a></li>
                                <li class="active">テンプレート構文</li>
            </ol>
    <div class="row">

                <div class="col-md-3">
            <nav class="nav-left hidden-xs hidden-sm" id="sideNav">
    <ul class="nav nav-stacked" data-spy="affix" data-offset-top="59" role="tablist">
                                <li>
                <a href="#1-2" title="&#x30C6;&#x30F3;&#x30D7;&#x30EC;&#x30FC;&#x30C8;&#x69CB;&#x6587;">テンプレート構文</a>
            </li>
                                <li>
                <a href="#1-2-1" title="&#x30A8;&#x30B9;&#x30B1;&#x30FC;&#x30D7;&#x3068;&#x51FA;&#x529B;">エスケープと出力</a>
            </li>
                                <li>
                <a href="#1-2-2" title="&#x5236;&#x5FA1;&#x69CB;&#x9020;">制御構造</a>
            </li>
                                <li>
                <a href="#1-2-3" title="&#x30D8;&#x30EB;&#x30D1;&#x30FC;">ヘルパー</a>
            </li>
                                <li>
                <a href="#1-2-4" title="&#x672A;&#x5B9A;&#x7FA9;&#x306E;&#x30D8;&#x30EB;&#x30D1;&#x30FC;">未定義のヘルパー</a>
            </li>
                                <li>
                <a href="#1-2-5" title="&#x305D;&#x306E;&#x4ED6;&#x306E;PHP&#x30B3;&#x30FC;&#x30C9;">その他のPHPコード</a>
            </li>
                                <li>
                <a href="#1-2-6" title="&#x7A7A;&#x767D;&#x6587;&#x5B57;">空白文字</a>
            </li>
                                    </ul>
</nav>
        </div>
                <div class="col-md-9">
<div id="section-main"><h1 id="1-2">1.2. テンプレート構文</h1>
<p>QiqテンプレートはネイティブのPHPテンプレートですが、簡潔なエスケープとヘルパーの使用のために、オプションで <code>{{ ... }}</code> 構文を使用できます。</p>
<h2 id="1-2-1">1.2.1. エスケープと出力</h2>
<p>Qiqは、開始タグが認識されるエスケープ文字で始まらない限り、自身では何も出力しません：</p>
<ul>
<li>
<code>{{ ... }}</code> は単独では何も出力しません</li>
<li>
<code>{{= ... }}</code> はエスケープされていない生の出力をエコーします</li>
<li>
<code>{{h ... }}</code> はHTML内容用にエスケープされた出力をエコーします</li>
<li>
<code>{{a ... }}</code> はHTML属性用にエスケープされた出力をエコーします</li>
<li>
<code>{{u ... }}</code> はURL用にエスケープされた出力をエコーします</li>
<li>
<code>{{c ... }}</code> はCSS用にエスケープされた出力をエコーします</li>
<li>
<code>{{j ... }}</code> はJavaScript用にエスケープされた出力をエコーします</li>
</ul>
<p><code>{{a ... }}</code> タグは、キーを属性ラベルとして、値を属性値として使用する配列を出力する追加機能を提供します。複数の属性値はスペースで区切られます。以下のQiqコードは...</p>
<pre><code class="language-qiq">&lt;span {{a ['id' =&gt; 'foo', 'class' =&gt; ['bar', 'baz', 'dib']] }}&gt;Text&lt;/span&gt;
</code></pre>
<p>...は以下のようにレンダリングされます：</p>
<pre><code class="language-html">&lt;span id="foo" class="bar baz dib"&gt;Text&lt;/span&gt;
</code></pre>
<p>ほぼすべての変数、リテラル、関数、メソッド、式、または定数（マジック定数 <code>__DIR__</code>、<code>__FILE__</code>、<code>__LINE__</code> を含む）を出力できます。</p>
<pre><code class="language-qiq">{{h $foo }}
{{h "foo" }}
{{h 1 + 2 }}
{{h __FILE__ }}
{{h PHP_EOL }}
{{h $person-&gt;firstName() }}
{{h time() }}
</code></pre>
<p>二重の中括弧を文字通りに埋め込み、Qiqタグとして解釈されないようにするには、中括弧の間にバックスラッシュを置きます。以下のQiqコードは...</p>
<pre><code class="language-qiq">{{ /* this is qiq code */ }}

{\{ this is not qiq code }\}
</code></pre>
<p>...は以下のPHPコードにコンパイルされます：</p>
<pre><code class="language-html+php">&lt;?php /* this is qiq code */ ?&gt;

{{ this is not qiq code }}
</code></pre>
<h2 id="1-2-2">1.2.2. 制御構造</h2>
<p>すべての制御構造は、利用可能な場合は<a href="https://php.net/control-structures.alternative-syntax">制御構造に関する別の構文</a>を使用して、<code>{{ ... }}</code> Qiqタグ内でPHPと全く同じように記述されます。</p>
<p>例えば、このQiqコードは...</p>
<pre><code class="language-qiq">{{ foreach ($foo as $bar =&gt; $baz): }}
    {{ if ($baz === 0): }}
        {{= "First element!" }}
    {{ else: }}
        {{= "Not the first element." }}
    {{ endif }}
{{ endforeach }}
</code></pre>
<p>...は以下のPHPコードと同じです：</p>
<pre><code class="language-html+php">&lt;?php foreach ($foo as $bar =&gt; $baz): ?&gt;
    &lt;?php if ($bar === 0): ?&gt;
        &lt;?= "First element!" ?&gt;&lt;?= PHP_EOL ?&gt;
    &lt;?php else: ?&gt;
        &lt;?= "Not the first element." ?&gt;&lt;?= PHP_EOL ?&gt;
    &lt;?php endif ?&gt;
&lt;?php endforeach ?&gt;
</code></pre>
<h2 id="1-2-3">1.2.3. ヘルパー</h2>
<p>Qiqタグ内の、PHPが潜在的な関数呼び出しとして認識するコードは、Qiqテンプレートヘルパーメソッドとして扱われます。したがって、以下のQiq構文は...</p>
<pre><code class="language-qiq">{{= label ("Street Address", for: 'street') }}
{{= textField (
    name: 'street',
    value: $street,
) }}
</code></pre>
<p>...は、Qiqヘルパーを使用した以下のPHPコードと同等です：</p>
<pre><code class="language-php">&lt;?= $this-&gt;label("Street Address", for: 'street') ?&gt;
&lt;?= $this-&gt;textField(
    name: 'street',
    value: $street,
) ?&gt;
</code></pre>
<p>Qiqコード内では、<code>$this-&gt;</code> プレフィックスの有無にかかわらず、どこでもヘルパーメソッド名を使用できます。以下の例では全て、<code>anchor()</code> ヘルパーの結果が変数に割り当てられています：</p>
<pre><code class="language-qiq">{{ $a_com = anchor ('http://example.com') }}
{{ $a_net = $this-&gt;anchor ('http://example.net') }}
&lt;?php $a_org = $this-&gt;anchor('http://example.org') ?&gt;
</code></pre>
<h2 id="1-2-4">1.2.4. 未定義のヘルパー</h2>
<p>ヘルパーメソッド名が定義されていない場合、<em>Helpers</em> クラスは代わりにPHP関数として呼び出します。例えば、<code>time</code> ヘルパーメソッドが定義されていない場合、以下は <a href="https://php.net/time"><code>time</code></a> PHP関数を呼び出します：</p>
<pre><code class="language-qiq">{{h time () }}
</code></pre>
<p>ただし、これは<a href="./static-analysis.html">静的解析</a>チェックを通過しない可能性があります。静的解析の結果を改善するには、呼び出しの前にバックスラッシュを付けてPHP関数を明示的に示します：</p>
<pre><code class="language-qiq">{{h \time () }}
</code></pre>
<p>あるいは、PHP関数をオーバーライドする<a href="./helpers/custom.html">カスタムヘルパーメソッド</a>を作成することもできます。</p>
<h2 id="1-2-5">1.2.5. その他のPHPコード</h2>
<p>Qiqは <code>{{ ... }}</code> タグ内の他のすべてのコードを通常のPHPコードとして扱います。例えば、このQiq構文は...</p>
<pre><code class="language-qiq">{{ $title = "Prefix: " . $title . " (Suffix)" }}
&lt;title&gt;{{h $title}}&lt;/title&gt;
</code></pre>
<p>..は、Qiqヘルパーを使用した以下のPHPコードと同等です：</p>
<pre><code class="language-html+php">&lt;?php $title = "Prefix: " . $title . " (Suffix)" ?&gt;
&lt;title&gt;&lt;?= $this-&gt;h($title) ?&gt;&lt;/title&gt;
</code></pre>
<h2 id="1-2-6">1.2.6. 空白文字</h2>
<p>Qiqは出力の空白文字を制御し、コンパイルされたテンプレートコードをソーステンプレートと同じ行に保ち、出力が適切にフォーマットされるようにするために、いくつかの工夫をしています。</p>
<h3 id="1-2-6-1">1.2.6.1. 改行</h3>
<p>Qiqはタグの周りの改行を直感的に処理します：</p>
<ul>
<li>
<p>エコーしないQiqタグは、通常のPHPと同様に、閉じタグの直後の単一の改行を <strong>消費</strong> します。</p>
</li>
<li>
<p>エコーするQiqタグは、生であれエスケープされたものであれ、閉じタグの直後の単一の改行を <strong>尊重</strong> します。</p>
</li>
</ul>
<p>例えば、このQiqコードは...</p>
<pre><code class="language-qiq">{{ if ($condition): }}
{{= "foo" }}
{{ endif; }}
</code></pre>
<p>...は以下のPHPコードにコンパイルされます：</p>
<pre><code class="language-html+php">&lt;?php if ($condition): ?&gt;
&lt;?= "foo" ?&gt;&lt;?= PHP_EOL ?&gt;
&lt;?php endif ?&gt;
</code></pre>
<p>エコーしないQiqは、開始タグにチルダを使用することで、単一の <strong>先頭の</strong> 改行をエコーするようにできます。このQiqコードは...</p>
<pre><code class="language-qiq">{{~ foreach ($foo as $bar): }}
...
{{~ endforeach }}
</code></pre>
<p>...は以下のPHPコードにコンパイルされます：</p>
<pre><code class="language-html+php">&lt;?= PHP_EOL ?&gt;&lt;?php foreach ($foo as $bar): ?&gt;
...
&lt;?= PHP_EOL ?&gt;&lt;?php endforeach ?&gt;
</code></pre>
<p>これは特にループ出力コードで有用で、ループの最初と最後の改行を尊重したい場合に使用します。</p>
<p>エコーするQiqは、閉じタグにチルダを使用することで、単一の後続の改行を消費するようにできます。このQiqコードは...</p>
<pre><code class="language-qiq">{{h $foo ~}}
</code></pre>
<p>...は以下のPHPコードにコンパイルされます：</p>
<pre><code class="language-html+php">&lt;?= $this-&gt;h($foo) ?&gt;
</code></pre>
<p>閉じタグのチルダは、エコーしないQiqコードには影響しません。</p>
<h3 id="1-2-6-2">1.2.6.2. インデント</h3>
<p>エコーするQiqタグは、開始Qiqタグの前の先頭の空白に基づいて、ヘルパーの現在のインデントを自動的に設定します。</p>
<p>このQiqコードは...</p>
<pre><code class="language-qiq">&lt;ul&gt;
    {{= items (['foo', 'bar', 'baz']) }}
&lt;/ul&gt;
</code></pre>
<p>...は以下のPHPコードにコンパイルされます：</p>
<pre><code class="language-qiq">&lt;ul&gt;
    &lt;?php $this-&gt;setIndent("    ") ?&gt;&lt;?= $this-&gt;items(['foo', 'bar', 'baz']) ?&gt;
&lt;/ul&gt;
</code></pre>
</div>        </div>
    </div>
</div>

<footer>
    <div class="links">
        <div class="container">
            <div class="row">
                <div class="prev col-xs-6">
                                            <a href="/2.x/intro.html">Previous</a>                                    </div>
                <div class="next col-xs-6">
                                            <a href="/2.x/data.html">Next</a>                                    </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Powered by <a href="https://github.com/tobiju/bookdown-bootswatch-templates" title="Visit project to generate your own docs">Bookdown Bootswatch Templates</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/0.6.0/lunr.min.js"></script>
<script src="//bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
<script src="//tobiju.github.io/share/prismjs/main.js"></script>
<script src="//tobiju.github.io/share/prismjs/prism.js"></script>
<script type="text/javascript">

    function Search() {
        this.store = {};
        this.index = lunr(function () {
            this.ref('id');
            this.field('title', {boost: 10});
            this.field('content');
        });
        this.searchResults = $('.js-search-results').addClass('list-search-results');
    }

    Search.prototype = {
        constructor: Search,
        init: function () {
            this.createIndex();
            this.bindEvents();
        },
        createIndex: function () {
            var $this = this,
                indexFilePath = $('.js-search-input').data('roothref') + 'index.json';

            $.getJSON(indexFilePath, function (data) {
                $.each(data, function (key, item) {
                    $this.index.add({
                        id: item.id,
                        title: item.title,
                        content: item.content
                    });

                    $this.store[item.id] = {
                        href: item.id,
                        title: item.title,
                        content: item.content
                    }
                });
            });
        },
        bindEvents: function () {
            var $this = this;

            $('html')
                .on('click', function (event) {
                    $this.close($(this), event);
                });

            $('.js-search-input, .js-search-results')
                .on('click', function (event) {
                    $this.click($(this), event);
                });

            $('.js-search-input')
                .on('focus', function (event) {
                    $this.focus($(this), event);
                })
                .on('keyup', function (event) {
                    $this.search($(this), event)
                })
                .on('keydown', function (event) {
                    if ($('.js-search-results ul').is(':visible')){
                        $this.navigation($(this), event)
                    }
                })
        },
        click: function (element, event) {
            event.stopPropagation();
        },
        focus: function (element, event) {
            this.searchInputWidth = element.css('width');
            element.animate({
                'width': 600
            }, 500);
            $('#js-navbar-collapse > ul').fadeOut();
        },
        close: function (element, event) {
            var $this = this;

            $('.js-search-results').hide();
            $('.js-search-input').animate({
                'width': $this.searchInputWidth
            }, 500);
            $('#js-navbar-collapse > ul').fadeIn();
        },
        search: function (element, event) {
            var $this = this;

            if (event.keyCode == 13 || event.keyCode == 38 || event.keyCode == 40) {
                return;
            }

            var query = element.val(),
                results = $this.index.search(query);

            if (!results.length) {
                $this.searchResults.empty();
                return;
            }

            var resultsList = results.reduce(function (ul, result) {
                var item = $this.store[result.ref];
                var title = $('<b>').text(item.title);

                var cropText = $this.cropText(item.content, query);
                if (cropText.length === 0) {
                    cropText = $('<p>').html(item.content.substring(0, 120) + "...");
                }
                var content = content = $('<p>').html(cropText);

                var div = $('<div>')
                    .append(title)
                    .append(content);
                var a = $('<a>').attr('href', item.href)
                    .append(div);
                var li = $('<li>')
                    .append(a);
                ul.append(li);

                return ul;
            }, $('<ul>'));

            this.searchResults.html(resultsList);

            $('.js-search-results').show();
            $(".js-search-results li:first-child").addClass('selected');
        },
        cropText: function (content, query) {
            var cropedText = '',
                re = new RegExp("\\s?(.{0,30})?" + query + ".*?\\b(.{0,30}.)?\\s?", "gi");

            $.each(content.match(re), function (key, value) {
                cropedText += '...' + value + '...';
            });

            return cropedText;
        },
        navigation: function (element, event) {
            var selected = null,
                listSelector = ".js-search-results ul",
                listItemSelector = listSelector + " li",
                selectedListItemSelector = listItemSelector + ".selected",
                selectedListItemSelectorAnchor = listItemSelector + ".selected a";

            // enter
            if (event.keyCode == 13) {
                event.preventDefault();
                this.close();
                window.location.replace($(selectedListItemSelectorAnchor).attr('href'));
            }

            // up
            if (event.keyCode == 38) {
                selected = $(selectedListItemSelector);
                $(listItemSelector).removeClass("selected");

                if (selected.prev().length == 0) {
                    selected.siblings().last().addClass("selected");
                } else {
                    selected.prev().addClass("selected");
                }

                selected = $(selectedListItemSelector);
                this.scrollListUp(selected);
            }

            // down
            if (event.keyCode == 40) {
                selected = $(selectedListItemSelector);
                $(listItemSelector).removeClass("selected");

                if (selected.next().length == 0) {
                    selected.siblings().first().addClass("selected");
                } else {
                    selected.next().addClass("selected");
                }

                selected = $(selectedListItemSelector);
                this.scrollListDown(selected);
            }
        },
        scrollListDown: function (element) {
            var ul = element.parent(),
                ulHeight = ul.height(),
                ulBottomPosition = ulHeight + ul.scrollTop(),
                liBottomPosition = element.position().top + element.height();

            if (liBottomPosition > ulBottomPosition) {
                ul.scrollTop(liBottomPosition - ulHeight);
            }

            if (element.is(':first-child')) {
                ul.scrollTop(0);
            }
        },
        scrollListUp: function (element) {
            var ul = element.parent(),
                ulTopPosition = ul.scrollTop(),
                liTopPosition = element.position().top;

            if (liTopPosition < ulTopPosition) {
                ul.scrollTop(element.position().top);
            }

            if (element.is(':last-child')) {
                ul.scrollTop(element.position().top - element.height());
            }
        }
    };

    $(function () {
        var search = new Search();
        search.init();
    });
</script>
</body>
</html>
